@import url("https://fonts.googleapis.com/css?family=Concert+One|Pacifico");
.mobile {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 50px;
  font-size: 90px;
  display: block;
}

h1, h2, span {
  display: none;
}

@media screen and (min-width: 670px) {
  .mobile {
    display: none;
  }

  h1, h2, span {
    display: block;
  }

  body {
    background: linear-gradient(to right, #e2b8f7, #d4bafa, #c7bcfb, #b9befb, #acbff9);
    cursor: crosshair;
    perspective: 1000px;
    transform-style: preserve-3d;
    font-family: "Pacifico",cursive;
  }

  h1 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 120px;
    font-size: 90px;
    background: -webkit-linear-gradient(0deg, #ceadfc 0%, #a3bbfb 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Concert One', cursive;
    font-weight: 400;
    z-index: -1;
    letter-spacing: 6px;
  }

  span {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 70px;
    font-size: 70px;
  }

  h2 {
    position: fixed;
    text-align: center;
    width: 100%;
    top: 50px;
    font-size: 90px;
    background: -webkit-linear-gradient(90deg, #e9e6ff 0%, white 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  bokeh {
    position: fixed;
    width: 2vmin;
    height: 2vmin;
    border-radius: 50%;
    animation-name: explosion;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: cubic-bezier(0.84, 0.02, 1, 1);
  }
  bokeh:nth-child(1) {
    background-color: #feff28;
    transform: translate(63.2761333561vw, 7.6300983362vh);
    animation-duration: 4.0823427141s;
    animation-delay: -4.2616061762s;
  }
  bokeh:nth-child(2) {
    background-color: #2bd8ff;
    transform: translate(33.3791963294vw, 63.1481118991vh);
    animation-duration: 3.8129331495s;
    animation-delay: -2.2067637342s;
  }
  bokeh:nth-child(3) {
    background-color: #feff28;
    transform: translate(30.4098007268vw, 95.7810315215vh);
    animation-duration: 3.9371043956s;
    animation-delay: -4.4185055823s;
  }
  bokeh:nth-child(4) {
    background-color: #ef8d22;
    transform: translate(92.0416954438vw, 55.2644463782vh);
    animation-duration: 4.1556282496s;
    animation-delay: -1.4983897007s;
  }
  bokeh:nth-child(5) {
    background-color: #2bd8ff;
    transform: translate(94.2504711879vw, 78.8347337601vh);
    animation-duration: 2.5278403357s;
    animation-delay: -4.1997899171s;
  }
  bokeh:nth-child(6) {
    background-color: #feff28;
    transform: translate(15.1347915236vw, 48.9206283525vh);
    animation-duration: 3.5284188349s;
    animation-delay: -3.8908763219s;
  }
  bokeh:nth-child(7) {
    background-color: #feff28;
    transform: translate(21.0413598268vw, 85.5664546098vh);
    animation-duration: 4.8936960356s;
    animation-delay: -3.0502951534s;
  }
  bokeh:nth-child(8) {
    background-color: #fc85e1;
    transform: translate(83.6739141273vw, 70.490794704vh);
    animation-duration: 3.214820603s;
    animation-delay: -3.6725570041s;
  }
  bokeh:nth-child(9) {
    background-color: #fc85e1;
    transform: translate(94.8713109625vw, 23.5061422482vh);
    animation-duration: 2.8342023834s;
    animation-delay: -3.5432893686s;
  }
  bokeh:nth-child(10) {
    background-color: #feff28;
    transform: translate(43.256203964vw, 97.966995327vh);
    animation-duration: 2.3063320175s;
    animation-delay: -0.4296215521s;
  }
  bokeh:nth-child(11) {
    background-color: #feff28;
    transform: translate(87.9158031016vw, 23.9175575183vh);
    animation-duration: 3.5524658697s;
    animation-delay: -1.095394204s;
  }
  bokeh:nth-child(12) {
    background-color: #feff28;
    transform: translate(97.3103429656vw, 53.6024430512vh);
    animation-duration: 3.9216037938s;
    animation-delay: -2.0889920229s;
  }
  bokeh:nth-child(13) {
    background-color: #fc85e1;
    transform: translate(31.5703202084vw, 23.8387193576vh);
    animation-duration: 3.6595478859s;
    animation-delay: -4.9718564634s;
  }
  bokeh:nth-child(14) {
    background-color: #2bd8ff;
    transform: translate(44.0614573618vw, 21.8177328221vh);
    animation-duration: 3.9247824407s;
    animation-delay: -4.381922567s;
  }
  bokeh:nth-child(15) {
    background-color: #fc85e1;
    transform: translate(18.8160616553vw, 45.3913636826vh);
    animation-duration: 3.6721470727s;
    animation-delay: -3.6598280547s;
  }
  bokeh:nth-child(16) {
    background-color: #2bd8ff;
    transform: translate(72.7837640057vw, 13.3489187515vh);
    animation-duration: 2.4586518685s;
    animation-delay: -3.8520290099s;
  }
  bokeh:nth-child(17) {
    background-color: #fc85e1;
    transform: translate(50.3985255104vw, 62.7732203415vh);
    animation-duration: 4.2795260454s;
    animation-delay: -0.6049563012s;
  }
  bokeh:nth-child(18) {
    background-color: #feff28;
    transform: translate(5.7060948735vw, 18.2543607538vh);
    animation-duration: 2.5813515915s;
    animation-delay: -3.1652953825s;
  }
  bokeh:nth-child(19) {
    background-color: #feff28;
    transform: translate(57.6615519577vw, 99.3232751281vh);
    animation-duration: 2.0374933877s;
    animation-delay: -2.6277315359s;
  }
  bokeh:nth-child(20) {
    background-color: #ef8d22;
    transform: translate(78.5965097918vw, 24.0353140827vh);
    animation-duration: 2.3089224198s;
    animation-delay: -2.0299862789s;
  }
  bokeh:nth-child(21) {
    background-color: #feff28;
    transform: translate(1.0767968338vw, 21.5085461682vh);
    animation-duration: 2.9871327586s;
    animation-delay: -3.1129716259s;
  }
  bokeh:nth-child(22) {
    background-color: #2bd8ff;
    transform: translate(61.6618425064vw, 64.7201780606vh);
    animation-duration: 2.1228307669s;
    animation-delay: -2.6281855453s;
  }
  bokeh:nth-child(23) {
    background-color: #ef8d22;
    transform: translate(98.1814778967vw, 63.2601330872vh);
    animation-duration: 4.9198545857s;
    animation-delay: -3.771643212s;
  }
  bokeh:nth-child(24) {
    background-color: #feff28;
    transform: translate(75.2185254634vw, 9.9759333155vh);
    animation-duration: 4.5481090948s;
    animation-delay: -2.2241516761s;
  }
  bokeh:nth-child(25) {
    background-color: #feff28;
    transform: translate(29.7007354618vw, 16.4380586323vh);
    animation-duration: 3.5254674951s;
    animation-delay: -1.469724528s;
  }
  bokeh:nth-child(26) {
    background-color: #fc85e1;
    transform: translate(24.0999930204vw, 21.1529325965vh);
    animation-duration: 3.7239228656s;
    animation-delay: -2.9097256389s;
  }
  bokeh:nth-child(27) {
    background-color: #ef8d22;
    transform: translate(14.6145031796vw, 51.2662267442vh);
    animation-duration: 3.8142403414s;
    animation-delay: -0.9864967444s;
  }
  bokeh:nth-child(28) {
    background-color: #feff28;
    transform: translate(67.3199308339vw, 68.8754837099vh);
    animation-duration: 2.6253703901s;
    animation-delay: -4.4642277424s;
  }
  bokeh:nth-child(29) {
    background-color: #feff28;
    transform: translate(9.4281247726vw, 36.6034894803vh);
    animation-duration: 3.7961357289s;
    animation-delay: -4.9418027813s;
  }
  bokeh:nth-child(30) {
    background-color: #fc85e1;
    transform: translate(85.8183201737vw, 62.077388628vh);
    animation-duration: 4.8693435491s;
    animation-delay: -2.4733640688s;
  }
  bokeh:nth-child(31) {
    background-color: #feff28;
    transform: translate(14.684432687vw, 28.4259686317vh);
    animation-duration: 3.0302548361s;
    animation-delay: -0.8131930093s;
  }
  bokeh:nth-child(32) {
    background-color: #feff28;
    transform: translate(25.421137811vw, 94.2226614289vh);
    animation-duration: 3.8777279666s;
    animation-delay: -4.6008899636s;
  }
  bokeh:nth-child(33) {
    background-color: #feff28;
    transform: translate(5.7644160592vw, 56.6522499412vh);
    animation-duration: 2.8409063425s;
    animation-delay: -3.4618426908s;
  }
  bokeh:nth-child(34) {
    background-color: #ef8d22;
    transform: translate(50.1925984886vw, 95.222163056vh);
    animation-duration: 3.7284989072s;
    animation-delay: -2.2106982163s;
  }
  bokeh:nth-child(35) {
    background-color: #fc85e1;
    transform: translate(47.3925524863vw, 2.8859562752vh);
    animation-duration: 2.9291936445s;
    animation-delay: -3.3277252929s;
  }
  bokeh:nth-child(36) {
    background-color: #ef8d22;
    transform: translate(60.8519587811vw, 40.666511029vh);
    animation-duration: 2.4839575978s;
    animation-delay: -4.3737210281s;
  }
  bokeh:nth-child(37) {
    background-color: #fc85e1;
    transform: translate(2.5721990469vw, 59.7063558047vh);
    animation-duration: 2.3682894369s;
    animation-delay: -2.6990885211s;
  }
  bokeh:nth-child(38) {
    background-color: #2bd8ff;
    transform: translate(61.6308097431vw, 32.9193694272vh);
    animation-duration: 2.507639509s;
    animation-delay: -4.4330177318s;
  }
  bokeh:nth-child(39) {
    background-color: #2bd8ff;
    transform: translate(71.8997778993vw, 84.4429016217vh);
    animation-duration: 4.346591865s;
    animation-delay: -1.1552782891s;
  }
  bokeh:nth-child(40) {
    background-color: #fc85e1;
    transform: translate(52.1204590205vw, 30.9667473007vh);
    animation-duration: 4.8261979495s;
    animation-delay: -0.771726429s;
  }
  bokeh:nth-child(41) {
    background-color: #2bd8ff;
    transform: translate(99.7175182606vw, 96.9263593644vh);
    animation-duration: 4.1761302672s;
    animation-delay: -3.7021660302s;
  }
  bokeh:nth-child(42) {
    background-color: #fc85e1;
    transform: translate(51.1268260392vw, 53.1193412885vh);
    animation-duration: 3.975182544s;
    animation-delay: -0.4364267641s;
  }
  bokeh:nth-child(43) {
    background-color: #fc85e1;
    transform: translate(49.4400591891vw, 37.9889542742vh);
    animation-duration: 4.2346636133s;
    animation-delay: -2.5227672622s;
  }
  bokeh:nth-child(44) {
    background-color: #ef8d22;
    transform: translate(76.9377792852vw, 57.8255244552vh);
    animation-duration: 2.5677911856s;
    animation-delay: -1.4996361811s;
  }
  bokeh:nth-child(45) {
    background-color: #2bd8ff;
    transform: translate(12.1263353455vw, 1.4473718429vh);
    animation-duration: 4.4362116141s;
    animation-delay: -2.0115914186s;
  }
  bokeh:nth-child(46) {
    background-color: #2bd8ff;
    transform: translate(53.711598065vw, 27.399605977vh);
    animation-duration: 2.6534313104s;
    animation-delay: -4.411314819s;
  }
  bokeh:nth-child(47) {
    background-color: #feff28;
    transform: translate(57.2025393654vw, 82.8130658787vh);
    animation-duration: 2.712248594s;
    animation-delay: -2.9573257053s;
  }
  bokeh:nth-child(48) {
    background-color: #ef8d22;
    transform: translate(46.7100780606vw, 35.2424314431vh);
    animation-duration: 3.5955710877s;
    animation-delay: -3.5563463913s;
  }
  bokeh:nth-child(49) {
    background-color: #2bd8ff;
    transform: translate(54.2375669119vw, 7.8622420547vh);
    animation-duration: 2.7874618495s;
    animation-delay: -3.0707313477s;
  }
  bokeh:nth-child(50) {
    background-color: #2bd8ff;
    transform: translate(68.3902724662vw, 74.4362311487vh);
    animation-duration: 2.9947453611s;
    animation-delay: -1.8742387635s;
  }
  bokeh:nth-child(51) {
    background-color: #feff28;
    transform: translate(67.6580364736vw, 25.1460758606vh);
    animation-duration: 2.8426760123s;
    animation-delay: -0.1470313141s;
  }
  bokeh:nth-child(52) {
    background-color: #fc85e1;
    transform: translate(0.1195796116vw, 49.7157562274vh);
    animation-duration: 4.0281008866s;
    animation-delay: -0.1649987477s;
  }
  bokeh:nth-child(53) {
    background-color: #2bd8ff;
    transform: translate(85.9098501773vw, 13.4240919574vh);
    animation-duration: 2.1906508853s;
    animation-delay: -2.8527270795s;
  }
  bokeh:nth-child(54) {
    background-color: #fc85e1;
    transform: translate(30.417275441vw, 19.797764675vh);
    animation-duration: 3.5309640848s;
    animation-delay: -4.2451475939s;
  }
  bokeh:nth-child(55) {
    background-color: #fc85e1;
    transform: translate(33.2389725838vw, 20.4646911892vh);
    animation-duration: 2.8554507548s;
    animation-delay: -0.9339155778s;
  }
  bokeh:nth-child(56) {
    background-color: #ef8d22;
    transform: translate(32.6278849665vw, 99.3436498501vh);
    animation-duration: 4.0633539405s;
    animation-delay: -2.6949769914s;
  }
  bokeh:nth-child(57) {
    background-color: #ef8d22;
    transform: translate(42.9485659109vw, 15.7652004803vh);
    animation-duration: 3.4420606207s;
    animation-delay: -0.7671890049s;
  }
  bokeh:nth-child(58) {
    background-color: #feff28;
    transform: translate(74.7276089073vw, 63.8976295937vh);
    animation-duration: 3.9193800247s;
    animation-delay: -0.3223638672s;
  }
  bokeh:nth-child(59) {
    background-color: #2bd8ff;
    transform: translate(62.0253808822vw, 71.6702016646vh);
    animation-duration: 4.2653719181s;
    animation-delay: -2.3364682444s;
  }
  bokeh:nth-child(60) {
    background-color: #fc85e1;
    transform: translate(57.0416593989vw, 49.4329759106vh);
    animation-duration: 2.8745500207s;
    animation-delay: -3.6552341162s;
  }
  bokeh:nth-child(61) {
    background-color: #ef8d22;
    transform: translate(72.7425117836vw, 55.9608515246vh);
    animation-duration: 3.558590273s;
    animation-delay: -0.8160860402s;
  }
  bokeh:nth-child(62) {
    background-color: #2bd8ff;
    transform: translate(10.8191279273vw, 53.9810893912vh);
    animation-duration: 3.5767945197s;
    animation-delay: -2.8776017387s;
  }
  bokeh:nth-child(63) {
    background-color: #ef8d22;
    transform: translate(61.3632255158vw, 23.6375954707vh);
    animation-duration: 3.6303951411s;
    animation-delay: -2.206313371s;
  }
  bokeh:nth-child(64) {
    background-color: #feff28;
    transform: translate(28.970620918vw, 50.1924702522vh);
    animation-duration: 4.2545675515s;
    animation-delay: -4.9377336265s;
  }
  bokeh:nth-child(65) {
    background-color: #fc85e1;
    transform: translate(12.5183968028vw, 41.201262847vh);
    animation-duration: 3.9138546897s;
    animation-delay: -1.2832108956s;
  }
  bokeh:nth-child(66) {
    background-color: #ef8d22;
    transform: translate(92.7527149391vw, 64.6505691231vh);
    animation-duration: 3.0859580307s;
    animation-delay: -0.4754929234s;
  }
  bokeh:nth-child(67) {
    background-color: #ef8d22;
    transform: translate(51.8392727275vw, 75.6995494297vh);
    animation-duration: 3.9454324437s;
    animation-delay: -2.9457550339s;
  }
  bokeh:nth-child(68) {
    background-color: #feff28;
    transform: translate(69.0945548353vw, 94.169282281vh);
    animation-duration: 3.8322972513s;
    animation-delay: -0.5055403751s;
  }
  bokeh:nth-child(69) {
    background-color: #feff28;
    transform: translate(30.084007783vw, 78.8779219758vh);
    animation-duration: 4.7475129631s;
    animation-delay: -4.0490301963s;
  }
  bokeh:nth-child(70) {
    background-color: #feff28;
    transform: translate(67.8347784899vw, 69.9108947763vh);
    animation-duration: 2.8350411956s;
    animation-delay: -3.273332504s;
  }
  bokeh:nth-child(71) {
    background-color: #feff28;
    transform: translate(78.1397152025vw, 17.7101331169vh);
    animation-duration: 3.5854408714s;
    animation-delay: -4.7832724432s;
  }
  bokeh:nth-child(72) {
    background-color: #fc85e1;
    transform: translate(59.1113514721vw, 43.9386217882vh);
    animation-duration: 4.7481823394s;
    animation-delay: -0.3698209095s;
  }
  bokeh:nth-child(73) {
    background-color: #ef8d22;
    transform: translate(28.5583655102vw, 89.9849199269vh);
    animation-duration: 3.4518923786s;
    animation-delay: -0.1703516142s;
  }
  bokeh:nth-child(74) {
    background-color: #2bd8ff;
    transform: translate(80.2005971881vw, 68.8824645457vh);
    animation-duration: 4.1958980221s;
    animation-delay: -3.9081606165s;
  }
  bokeh:nth-child(75) {
    background-color: #ef8d22;
    transform: translate(96.6390015973vw, 17.9294567186vh);
    animation-duration: 2.2916740382s;
    animation-delay: -0.8641756167s;
  }
  bokeh:nth-child(76) {
    background-color: #2bd8ff;
    transform: translate(44.3451812172vw, 93.8966889061vh);
    animation-duration: 2.4389787274s;
    animation-delay: -2.5455346336s;
  }
  bokeh:nth-child(77) {
    background-color: #feff28;
    transform: translate(75.4235370113vw, 88.7073097738vh);
    animation-duration: 3.351790838s;
    animation-delay: -1.1187097869s;
  }
  bokeh:nth-child(78) {
    background-color: #ef8d22;
    transform: translate(59.8429647013vw, 46.3218009666vh);
    animation-duration: 2.9487001683s;
    animation-delay: -2.3300574078s;
  }
  bokeh:nth-child(79) {
    background-color: #2bd8ff;
    transform: translate(34.4743552746vw, 94.2409458902vh);
    animation-duration: 3.2395139194s;
    animation-delay: -2.5530376049s;
  }
  bokeh:nth-child(80) {
    background-color: #feff28;
    transform: translate(91.7580199866vw, 17.0507562783vh);
    animation-duration: 3.4304090668s;
    animation-delay: -4.5109433512s;
  }
  bokeh:nth-child(81) {
    background-color: #2bd8ff;
    transform: translate(95.5815646269vw, 85.2956608627vh);
    animation-duration: 4.9661060794s;
    animation-delay: -2.6645827676s;
  }
  bokeh:nth-child(82) {
    background-color: #feff28;
    transform: translate(49.4258882152vw, 13.7825318219vh);
    animation-duration: 3.0098290965s;
    animation-delay: -0.3929305333s;
  }
  bokeh:nth-child(83) {
    background-color: #feff28;
    transform: translate(84.2105005587vw, 14.0362604703vh);
    animation-duration: 2.949313436s;
    animation-delay: -1.2744877799s;
  }
  bokeh:nth-child(84) {
    background-color: #2bd8ff;
    transform: translate(35.2884911211vw, 64.7310996035vh);
    animation-duration: 4.0800262627s;
    animation-delay: -4.3348486199s;
  }
  bokeh:nth-child(85) {
    background-color: #ef8d22;
    transform: translate(30.7004898651vw, 89.969372782vh);
    animation-duration: 4.5165781316s;
    animation-delay: -2.3480645894s;
  }
  bokeh:nth-child(86) {
    background-color: #ef8d22;
    transform: translate(20.7558603949vw, 52.6523691587vh);
    animation-duration: 4.4641742143s;
    animation-delay: -3.4305598493s;
  }
  bokeh:nth-child(87) {
    background-color: #2bd8ff;
    transform: translate(77.6806746003vw, 90.4143882176vh);
    animation-duration: 4.0246959804s;
    animation-delay: -3.9830527461s;
  }
  bokeh:nth-child(88) {
    background-color: #fc85e1;
    transform: translate(49.3118057307vw, 23.0113234597vh);
    animation-duration: 2.8701953669s;
    animation-delay: -0.215737608s;
  }
  bokeh:nth-child(89) {
    background-color: #fc85e1;
    transform: translate(27.2076436228vw, 45.6288647vh);
    animation-duration: 2.1271913938s;
    animation-delay: -2.3580464109s;
  }
  bokeh:nth-child(90) {
    background-color: #fc85e1;
    transform: translate(42.0700083798vw, 94.5764431158vh);
    animation-duration: 2.5484611852s;
    animation-delay: -3.9270751973s;
  }
  bokeh:nth-child(91) {
    background-color: #feff28;
    transform: translate(40.9514661524vw, 74.1994648324vh);
    animation-duration: 4.0837714098s;
    animation-delay: -0.5180270869s;
  }
  bokeh:nth-child(92) {
    background-color: #2bd8ff;
    transform: translate(53.8758030194vw, 9.9527040742vh);
    animation-duration: 2.4964183096s;
    animation-delay: -1.9941024113s;
  }
  bokeh:nth-child(93) {
    background-color: #ef8d22;
    transform: translate(34.1601077988vw, 95.044651819vh);
    animation-duration: 2.1112312876s;
    animation-delay: -3.8687207386s;
  }
  bokeh:nth-child(94) {
    background-color: #fc85e1;
    transform: translate(58.3187442305vw, 2.3386615409vh);
    animation-duration: 3.3868115727s;
    animation-delay: -1.9150037119s;
  }
  bokeh:nth-child(95) {
    background-color: #fc85e1;
    transform: translate(71.4914664487vw, 7.5639288521vh);
    animation-duration: 2.9915917089s;
    animation-delay: -0.630014791s;
  }
  bokeh:nth-child(96) {
    background-color: #2bd8ff;
    transform: translate(61.2033491585vw, 0.1472225679vh);
    animation-duration: 2.9944066938s;
    animation-delay: -2.785981368s;
  }
  bokeh:nth-child(97) {
    background-color: #ef8d22;
    transform: translate(97.4997879855vw, 57.5763084068vh);
    animation-duration: 3.9396041291s;
    animation-delay: -1.3127605082s;
  }
  bokeh:nth-child(98) {
    background-color: #2bd8ff;
    transform: translate(80.0873601913vw, 31.5361193627vh);
    animation-duration: 2.3540092124s;
    animation-delay: -0.0481169978s;
  }
  bokeh:nth-child(99) {
    background-color: #feff28;
    transform: translate(10.3328125304vw, 87.310250357vh);
    animation-duration: 2.7280413386s;
    animation-delay: -0.4537766618s;
  }
  bokeh:nth-child(100) {
    background-color: #ef8d22;
    transform: translate(43.0635763809vw, 78.9373380392vh);
    animation-duration: 4.5013475345s;
    animation-delay: -2.2421574224s;
  }

  @keyframes explosion {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: translate(50vw, 100vh);
    }
  }
  .cake {
    position: relative;
    top: 250px;
    margin: auto;
    width: 200px;
    height: 60px;
    background: #f9fdff;
    border-radius: 100%;
    transform: translateZ(100px);
    box-shadow: 0px 4px 0px #f4f9fd,  0px 8px 0px #dba9ff,  0px 12px 0px #fec3b3,  0px 16px 0px #f7f6fb,  0px 20px 0px #f7f6fb,  0px 24px 0px #f7f6fb, 0px 28px 0px #f7f6fb, 0px 32px 0px #fea0bb, 0px 36px 0px #fea0bb, 0px 40px 0px #9cef9d, 0px 44px 0px #9cef9d,  0px 48px 0px #f7f6fb,  0px 52px 0px #f7f6fb,  0px 56px 0px #f7f6fb,  0px 60px 0px #f7f6fb,  0px 64px 0px #f7f6fb,  0px 68px 0px #dfa5fc,  0px 72px 0px #dfa5fc,  0px 76px 0px #fafffe,  0px 80px 0px #fafffe;
  }

  .plate {
    position: absolute;
    height: 90px;
    width: 300px;
    bottom: -95px;
    left: 50%;
    top: 380px;
    margin-left: -150px;
    border-radius: 100%;
    background: radial-gradient(ellipse closest-side at center, #08c7fe 0%, #04d7f2 71%, #02ffd0 100%);
    box-shadow: 0px 3px 0px #00e2e1, 0px 6px 0px #00d3fb;
    transform: translateZ(80px);
  }

  .candle {
    position: relative;
    height: 50px;
    width: 12px;
    top: 280px;
    margin: auto;
    background: linear-gradient(0deg, #b7f4a7 0%, white 100%);
    border-radius: 4px;
    transform: translateZ(120px);
  }

  #flame {
    position: absolute;
    z-index: 10;
  }

  .lit {
    background: linear-gradient(to bottom, #FFF6D9, #FBC36C);
    width: 15px;
    height: 35px;
    /*  Info on border radius. http://www.css3.info/preview/rounded-border/ */
    border-top-left-radius: 10px 35px;
    border-top-right-radius: 10px 35px;
    border-bottom-right-radius: 10px 10px;
    border-bottom-left-radius: 10px 10px;
    top: -34px;
    margin: auto;
    /*   http://www.css3.info/preview/box-shadow/ */
    box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    transform-origin: bottom;
    animation: flicker 1s ease-in-out alternate infinite;
  }

  @keyframes flicker {
    0% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
    25% {
      transform: skewX(-5deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    50% {
      transform: skewX(10deg);
      box-shadow: 0 0 17px 7px rgba(251, 246, 190, 0.71);
    }
    75% {
      transform: skewX(-10deg);
      box-shadow: 0 0 17px 5px rgba(251, 246, 190, 0.71);
    }
    100% {
      transform: skewX(5deg);
      box-shadow: 0 0 17px 10px rgba(251, 246, 190, 0.71);
    }
  }
  .pyro > .before, .pyro > .after {
    position: fixed;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }

  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }

  @-webkit-keyframes bang {
    to {
      box-shadow: 95px -241.6666666667px #0084ff, 33px -354.6666666667px #ff001a, 132px -323.6666666667px #00ffc8, 58px 44.3333333333px #ffbf00, -45px -388.6666666667px #00ff6f, -234px -309.6666666667px #ff2600, -220px -330.6666666667px #ff5900, -198px -155.6666666667px #48ff00, 62px -202.6666666667px #ff4000, -184px -100.6666666667px #ff00ee, -16px -361.6666666667px #3c00ff, -172px -250.6666666667px #00ff77, 32px -222.6666666667px #ff00ea, -106px -161.6666666667px #ff5500, 5px 28.3333333333px #22ff00, 106px -126.6666666667px #ff007b, 40px -44.6666666667px #00f2ff, 5px 41.3333333333px #8800ff, -104px -222.6666666667px #ff006a, 215px -324.6666666667px #ff0033, 0px 47.3333333333px #ffdd00, 33px -295.6666666667px #00eeff, -43px 51.3333333333px #ff1500, -124px -375.6666666667px #3300ff, -36px -227.6666666667px #ff00a2, 46px -304.6666666667px #bf00ff, -235px -149.6666666667px #00ddff, -71px -403.6666666667px #00ff73, 209px -44.6666666667px #ffee00, -10px -38.6666666667px #d9ff00, -26px -75.6666666667px #ff0026, -4px -206.6666666667px #ff00c4, -33px -330.6666666667px #f7ff00, -133px -118.6666666667px #8cff00, -91px -118.6666666667px #ff7700, 74px -387.6666666667px #aa00ff, 159px 60.3333333333px #00ff09, -156px 35.3333333333px #ff3700, -55px -49.6666666667px #00ff4d, -159px -280.6666666667px #ff0095, 224px -335.6666666667px #ff9100, -201px -92.6666666667px #77ff00, 222px -205.6666666667px #3cff00, -227px -364.6666666667px #ff8000, 169px -372.6666666667px #fff700, -41px -261.6666666667px #ff004d, -143px -77.6666666667px #e1ff00, -193px -77.6666666667px #00f2ff, -80px -251.6666666667px #00c4ff, -4px -211.6666666667px #9500ff, 92px -292.6666666667px #00ff55;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 95px -241.6666666667px #0084ff, 33px -354.6666666667px #ff001a, 132px -323.6666666667px #00ffc8, 58px 44.3333333333px #ffbf00, -45px -388.6666666667px #00ff6f, -234px -309.6666666667px #ff2600, -220px -330.6666666667px #ff5900, -198px -155.6666666667px #48ff00, 62px -202.6666666667px #ff4000, -184px -100.6666666667px #ff00ee, -16px -361.6666666667px #3c00ff, -172px -250.6666666667px #00ff77, 32px -222.6666666667px #ff00ea, -106px -161.6666666667px #ff5500, 5px 28.3333333333px #22ff00, 106px -126.6666666667px #ff007b, 40px -44.6666666667px #00f2ff, 5px 41.3333333333px #8800ff, -104px -222.6666666667px #ff006a, 215px -324.6666666667px #ff0033, 0px 47.3333333333px #ffdd00, 33px -295.6666666667px #00eeff, -43px 51.3333333333px #ff1500, -124px -375.6666666667px #3300ff, -36px -227.6666666667px #ff00a2, 46px -304.6666666667px #bf00ff, -235px -149.6666666667px #00ddff, -71px -403.6666666667px #00ff73, 209px -44.6666666667px #ffee00, -10px -38.6666666667px #d9ff00, -26px -75.6666666667px #ff0026, -4px -206.6666666667px #ff00c4, -33px -330.6666666667px #f7ff00, -133px -118.6666666667px #8cff00, -91px -118.6666666667px #ff7700, 74px -387.6666666667px #aa00ff, 159px 60.3333333333px #00ff09, -156px 35.3333333333px #ff3700, -55px -49.6666666667px #00ff4d, -159px -280.6666666667px #ff0095, 224px -335.6666666667px #ff9100, -201px -92.6666666667px #77ff00, 222px -205.6666666667px #3cff00, -227px -364.6666666667px #ff8000, 169px -372.6666666667px #fff700, -41px -261.6666666667px #ff004d, -143px -77.6666666667px #e1ff00, -193px -77.6666666667px #00f2ff, -80px -251.6666666667px #00c4ff, -4px -211.6666666667px #9500ff, 92px -292.6666666667px #00ff55;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 95px -241.6666666667px #0084ff, 33px -354.6666666667px #ff001a, 132px -323.6666666667px #00ffc8, 58px 44.3333333333px #ffbf00, -45px -388.6666666667px #00ff6f, -234px -309.6666666667px #ff2600, -220px -330.6666666667px #ff5900, -198px -155.6666666667px #48ff00, 62px -202.6666666667px #ff4000, -184px -100.6666666667px #ff00ee, -16px -361.6666666667px #3c00ff, -172px -250.6666666667px #00ff77, 32px -222.6666666667px #ff00ea, -106px -161.6666666667px #ff5500, 5px 28.3333333333px #22ff00, 106px -126.6666666667px #ff007b, 40px -44.6666666667px #00f2ff, 5px 41.3333333333px #8800ff, -104px -222.6666666667px #ff006a, 215px -324.6666666667px #ff0033, 0px 47.3333333333px #ffdd00, 33px -295.6666666667px #00eeff, -43px 51.3333333333px #ff1500, -124px -375.6666666667px #3300ff, -36px -227.6666666667px #ff00a2, 46px -304.6666666667px #bf00ff, -235px -149.6666666667px #00ddff, -71px -403.6666666667px #00ff73, 209px -44.6666666667px #ffee00, -10px -38.6666666667px #d9ff00, -26px -75.6666666667px #ff0026, -4px -206.6666666667px #ff00c4, -33px -330.6666666667px #f7ff00, -133px -118.6666666667px #8cff00, -91px -118.6666666667px #ff7700, 74px -387.6666666667px #aa00ff, 159px 60.3333333333px #00ff09, -156px 35.3333333333px #ff3700, -55px -49.6666666667px #00ff4d, -159px -280.6666666667px #ff0095, 224px -335.6666666667px #ff9100, -201px -92.6666666667px #77ff00, 222px -205.6666666667px #3cff00, -227px -364.6666666667px #ff8000, 169px -372.6666666667px #fff700, -41px -261.6666666667px #ff004d, -143px -77.6666666667px #e1ff00, -193px -77.6666666667px #00f2ff, -80px -251.6666666667px #00c4ff, -4px -211.6666666667px #9500ff, 92px -292.6666666667px #00ff55;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 95px -241.6666666667px #0084ff, 33px -354.6666666667px #ff001a, 132px -323.6666666667px #00ffc8, 58px 44.3333333333px #ffbf00, -45px -388.6666666667px #00ff6f, -234px -309.6666666667px #ff2600, -220px -330.6666666667px #ff5900, -198px -155.6666666667px #48ff00, 62px -202.6666666667px #ff4000, -184px -100.6666666667px #ff00ee, -16px -361.6666666667px #3c00ff, -172px -250.6666666667px #00ff77, 32px -222.6666666667px #ff00ea, -106px -161.6666666667px #ff5500, 5px 28.3333333333px #22ff00, 106px -126.6666666667px #ff007b, 40px -44.6666666667px #00f2ff, 5px 41.3333333333px #8800ff, -104px -222.6666666667px #ff006a, 215px -324.6666666667px #ff0033, 0px 47.3333333333px #ffdd00, 33px -295.6666666667px #00eeff, -43px 51.3333333333px #ff1500, -124px -375.6666666667px #3300ff, -36px -227.6666666667px #ff00a2, 46px -304.6666666667px #bf00ff, -235px -149.6666666667px #00ddff, -71px -403.6666666667px #00ff73, 209px -44.6666666667px #ffee00, -10px -38.6666666667px #d9ff00, -26px -75.6666666667px #ff0026, -4px -206.6666666667px #ff00c4, -33px -330.6666666667px #f7ff00, -133px -118.6666666667px #8cff00, -91px -118.6666666667px #ff7700, 74px -387.6666666667px #aa00ff, 159px 60.3333333333px #00ff09, -156px 35.3333333333px #ff3700, -55px -49.6666666667px #00ff4d, -159px -280.6666666667px #ff0095, 224px -335.6666666667px #ff9100, -201px -92.6666666667px #77ff00, 222px -205.6666666667px #3cff00, -227px -364.6666666667px #ff8000, 169px -372.6666666667px #fff700, -41px -261.6666666667px #ff004d, -143px -77.6666666667px #e1ff00, -193px -77.6666666667px #00f2ff, -80px -251.6666666667px #00c4ff, -4px -211.6666666667px #9500ff, 92px -292.6666666667px #00ff55;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 95px -241.6666666667px #0084ff, 33px -354.6666666667px #ff001a, 132px -323.6666666667px #00ffc8, 58px 44.3333333333px #ffbf00, -45px -388.6666666667px #00ff6f, -234px -309.6666666667px #ff2600, -220px -330.6666666667px #ff5900, -198px -155.6666666667px #48ff00, 62px -202.6666666667px #ff4000, -184px -100.6666666667px #ff00ee, -16px -361.6666666667px #3c00ff, -172px -250.6666666667px #00ff77, 32px -222.6666666667px #ff00ea, -106px -161.6666666667px #ff5500, 5px 28.3333333333px #22ff00, 106px -126.6666666667px #ff007b, 40px -44.6666666667px #00f2ff, 5px 41.3333333333px #8800ff, -104px -222.6666666667px #ff006a, 215px -324.6666666667px #ff0033, 0px 47.3333333333px #ffdd00, 33px -295.6666666667px #00eeff, -43px 51.3333333333px #ff1500, -124px -375.6666666667px #3300ff, -36px -227.6666666667px #ff00a2, 46px -304.6666666667px #bf00ff, -235px -149.6666666667px #00ddff, -71px -403.6666666667px #00ff73, 209px -44.6666666667px #ffee00, -10px -38.6666666667px #d9ff00, -26px -75.6666666667px #ff0026, -4px -206.6666666667px #ff00c4, -33px -330.6666666667px #f7ff00, -133px -118.6666666667px #8cff00, -91px -118.6666666667px #ff7700, 74px -387.6666666667px #aa00ff, 159px 60.3333333333px #00ff09, -156px 35.3333333333px #ff3700, -55px -49.6666666667px #00ff4d, -159px -280.6666666667px #ff0095, 224px -335.6666666667px #ff9100, -201px -92.6666666667px #77ff00, 222px -205.6666666667px #3cff00, -227px -364.6666666667px #ff8000, 169px -372.6666666667px #fff700, -41px -261.6666666667px #ff004d, -143px -77.6666666667px #e1ff00, -193px -77.6666666667px #00f2ff, -80px -251.6666666667px #00c4ff, -4px -211.6666666667px #9500ff, 92px -292.6666666667px #00ff55;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
}